<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://qdcu01.baidupcs.com/file/4be71cfc644ec9db765685d3e0e0ae2e?bkt=p3-0000eef93621ce2eae9099ca9e34d83230ea&fid=2249052202-250528-309932964953396&time=1532495968&sign=FDTAXGERLQBHSK-DCb740ccc5511e5e8fedcff06b081203-ZDk1XYgGWj64wPzlNNuO6Kuff%2BE%3D&to=65&size=7716195&sta_dx=7716195&sta_cs=2&sta_ft=ipa&sta_ct=0&sta_mt=0&fm2=MH%2CQingdao%2CAnywhere%2C%2Cjiangsu%2Cct&resv0=cdnback&resv1=0&vuk=282335&iv=-2&newver=1&newfm=1&secfm=1&flow_ver=3&pkey=0000eef93621ce2eae9099ca9e34d83230ea&sl=82640974&expires=8h&rt=sh&r=415023536&mlogid=155719074867073739&vbdid=1904962458&fin=power.ipa&rtype=1&dp-logid=155719074867073739&dp-callid=0.1.1&hps=1&tsl=50&csl=78&csign=0vnYzTYv2VV%2Ff%2FRkrbacf8q2JPs%3D&so=0&ut=8&uter=4&serv=0&uc=1312949112&ic=3719843059&ti=37cfb58296b21ea9d9e9729f6fc9a9621a4e5f7614924f99&by=themis</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://github.com/zoujia00010/ppp/blob/master/test.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://github.com/zoujia00010/ppp/blob/master/test.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.wiz.powerKs</string>
				<key>bundle-version</key>
				<string>1.0.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>power</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
